@charset "UTF-8";

{box-sizing: border-box;}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media screen (max-width: 800px) {
  .flex-container {
    flex-flow: column wrap;
    justify-content: space-between;
  }
}

#Titlecard {
  color: hsl(9, 100%, 64%);
  justify-content: center;
}

body {
  background: url("images/warning_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size:55px;
  font-family: 'Grechen Fuemen', cursive;
  font-weight: 400;
  font-style: normal;
  color: red;
  border: 2px solid blue
}

h2 {
  font-family: 'Prompt', sans-serif;
  font-style: normal;
  color: red;
}

p, i, em, b {
  background-color: red;
  color: black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td, tr {
  border:1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #dddddd;
}
